<deskly-header
  class="app__header"
  [isAuthenticated]="isAuthenticated()"
  (menuClick)="drawer.toggle()"
  (signOut)="signOut()"
></deskly-header>
<main class="app__main-container">
  <mat-drawer-container autosize class="drawer-container">
    <mat-drawer #drawer mode="side" class="drawer">
      <button
        mat-button
        color="primary"
        *desklyHasGroup="UserGroup.LocationManagers"
        routerLink="/location-management"
        (click)="drawer.toggle()"
      >
        Locations
      </button>
      <button
        mat-button
        color="primary"
        *desklyHasGroup="UserGroup.BasicUsers"
        routerLink="/booking"
        (click)="drawer.toggle()"
      >
        Book resource
      </button>
    </mat-drawer>
    <div class="router-wrapper">
      <router-outlet />
    </div>
  </mat-drawer-container>
</main>


