/* You can add global styles to this file, and also import other style files */

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding: 2rem;
  height: 100%;
  box-sizing: border-box;
}

.deskly-snackbar.mat-mdc-snack-bar-container{
  margin-bottom: 4rem;

  .mdc-snackbar__label {
    color: #3f51b5;
  }

  .mdc-snackbar__surface {
    background-color: var(--mdc-fab-container-color);
  }
}